body {
  background-color: lightgray !important;
  font-family: 'Noto Sans KR', sans-serif !important;
}

/* BOX AND BACKGROUND DESIGN START: */

.container {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.row {
  padding: 0px 320px;
}

.generatorBox {
  margin-top: 80px;
  border-radius: 20px;
  background-color: gray;
  border: solid 4px black;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

/* BOX AND BACKGROUND DESIGN END */

/* LOGO AND TITLE START */

.logo:hover {
  height: 100px !important;
  width: 100px;
  transition: 0.5s;
}

.title {
  margin: 15px 0px;
  font-weight: bold;
  text-shadow: 1px 2px 1px black;
}

/* LOGO AND TITLE START END */

/* CHARACTER AMOUNT DESIGN START: */

#length {
  width: 75%;
  margin: 10px 0px !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #ffffff;
  box-shadow: 1px 2px 2px black;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 30px;
  border-radius: 25%;
  box-shadow: 1px 2px 4px black;
  background: rgb(106, 208, 241);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: rgb(66, 159, 190);
}

.slider::-webkit-slider-thumb:active {
  width: 25px;
  height: 35px;
  transition: .2s;
}

#lengthAmount {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 2px 1px black;
  margin-bottom: 20px !important;
  color: rgb(142, 223, 250);
}

/* CHARACTER AMOUNT DESIGN END */

/* THE CHECKMARK LIST START  */
#uppercase, #lowercase, #numbers, #symbols{
  float: left;
  width: 20px;
  height: 20px;
  box-shadow: 2px 1px 1px black;
}

#uppercase:hover, #lowercase:hover, #numbers:hover, #symbols:hover{
  width: 25px;
  height: 25px;
  transition: 0.4s;
}

#checkBoxTitle {
  padding-right: 53px;
}

/* THE CHECKMARK LIST END */

#generate-btn {
  margin: 20px 0px;
  padding: 10px;
  background-color: rgb(106, 208, 241);
  border-radius: 20px;
  border: solid 2px black;
  transition: padding 0.4s;
  font-weight: bold;
}

  #generate-btn:hover {
  padding: 10px 20px;
  background-color: rgb(66, 159, 190);
  }

/* RESULTS SECTION START */

#result {
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 1px 2px 1px black;
  padding: 8px;
  border: 2px solid black;
}

.clipboard-img {
  padding-bottom: 4px;
}

.clipboard-box {
  padding-bottom: 2px;
  padding-top: 8px;
  border-radius: 5px;
  box-shadow: 1px 2px 1px black;
  border: 2px solid black;
  background-color: white;
}

.clipboard-box:hover {
  background-color: lightgray;
}

/* RESULTS SECTION END */

#credits {
  font-weight: bold;
}

/* SMALLER SCREEN COMPATABILITY START */

@media only screen and (max-width: 1201px) {    
  .row {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 362px) {    
  #result {
    width: 75%;
  }
}